:root{
    --heading-font: 'Playfair Display' , serif;
    --text-font: 'Poppins' , sans-serif;
}
body{
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}
.cake{
    background-image: url(pexels-yousif-idrees-867185224-19846422.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    margin-top: 30px;
    color: white;
}
.welcome{
    background-image: url(pexels-davideibiza-1739748.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}
.title{
     font-size: 16px;
     font-family: var(--heading-font) ;
}
p{
    font-size: 20px;
    text-align: center;
    color: white;
}
.cupcake{
    background-image: url(pexels-igor-ovsyannykov-56123-205961.jpg) ;
   
}
.rota{
    text-align: center;
    font-family: var(--heading-font);
    font-weight: bold;
    background-size: cover;
    color: transparent;
    
    font-size: 340px;
    background-image: url(pexels-cristian-rojas-8478058.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: text ;
}

.cupcakes-para{
    color: rgba(207, 27, 126, 0.952);
    font-weight: 24;
}
.cupcakes-heading{
    margin-top: 70px;
    font-size: 44px;
    color: rgba(163, 33, 105, 0.952);
    font-weight: bold;
}
.cake-collection{
    margin-top: 70px;
    font-size: 24px;
    color: rgba(19, 10, 51, 0.781);
    font-weight: bold;
}
.btn-primary{
    
    transform: rotateY('180deg');
}
h2{
    text-align: center;
    font-family: var(--heading-font);
    color: white;
    font-size: 42px;
}